$asterisk: #f87777;

// Light Theme

$light-bg: #fff;
$light-fg: #7a7a7a;

// Dark Theme

$dark-bg-primary: #36393f;
$dark-bg-secondary: #40444b;
$dark-fg: #fff;

// Radio

$radio-checked-bg: $asterisk;
$radio-checked-border: #ffcaca;
$radio-unchecked-bg: #f1f1f1;

// Checkbox

$checkbox-checked-bg: $asterisk;
$checkbox-unchecked-bg: #f1f1f1;

// Strength Bar

$strong: #308570;
$medium: #efc20f;
$weak: #df6661;

// Range

$range-fill: $asterisk;
$range-empty: #f1f1f1;
