.password-strength-bar {
  border-radius: 0.3125rem;
  height: 0.375rem;
  margin: 0 0.3125rem;
  transition: 0.6s ease;
  width: 0%;
}

.password-strength-bar--strong {
  background: #308570;
  width: 97.5%;
}

.password-strength-bar--medium {
  background: #efc20f;
  width: 50%;
}

.password-strength-bar--weak {
  background: #df6661;
  width: 25%;
}

.password-strength-bar--none {
  width: 0%;
}
