@use '../abstracts/functions' as *;

.range {
  appearance: none;
  background: #E4E4E4;
  background-image: linear-gradient(to right, theme-style('light', 'bg-component') calc(var(--value) * 1%), #E4E4E4 0);
  border-radius: 0.625em;
}

@media (prefers-color-scheme: dark) {
  .range {
    background-image: linear-gradient(to right, theme-style('dark', 'bg-component') calc(var(--value) * 1%), #E4E4E4 0);
  }
}