$theme: (
  light: (
    bg-color: #FFF,
    fg-color: #333,
    bg-component: #F87777
  ),
  dark: (
    bg-color: #14152D,
    fg-color: #FFF,
    bg-content: #222944,
    bg-component: #F8CC77
  )
);

$semaphore: (
  bg-green: #308570,
  bg-yellow: #EFC20F,
  bg-red: #DF6661
)