body {
  background: #FFF;
  color: #333;
  font-family: "Manrope";
  font-size: 16px;
  transition: 0.3s ease;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #14152D;
    color: #FFF;
  }
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-ExtraLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("../../../../fonts/static/Manrope-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
.btn {
  cursor: pointer;
  border: 0;
  outline: 0;
  padding: 0;
}

.input {
  border: 0;
  outline: 0;
}

.range {
  appearance: none;
  background: #E4E4E4;
  background-image: linear-gradient(to right, #F87777 calc(var(--value) * 1%), #E4E4E4 0);
  border-radius: 0.625em;
}

@media (prefers-color-scheme: dark) {
  .range {
    background-image: linear-gradient(to right, #F8CC77 calc(var(--value) * 1%), #E4E4E4 0);
  }
}
.main__semaphore {
  height: 0.375em;
  transition: 0.4s ease;
  width: 0%;
}

.main__semaphore--green {
  background: #308570;
  width: 100%;
}

.main__semaphore--yellow {
  background: #EFC20F;
  width: 50%;
}

.main__semaphore--red {
  background: #DF6661;
  width: 25%;
}

.snackbar__content {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.1875em;
  bottom: 1.35em;
  display: flex;
  height: 1.875em;
  justify-content: center;
  left: 32%;
  position: fixed;
  width: 7.5em;
  z-index: 1;
}

.snackbar__text {
  color: #FFF;
  font-size: 0.75em;
}

.layout {
  height: 100vh;
}

.main {
  display: grid;
  gap: 0.9375em;
  grid-template-areas: "main__textbox" "main__content";
  padding: 1.5625em 0.9375em 1.875em 0.9375em;
}

.main__password-box {
  display: flex;
  flex-direction: column;
}

.main__textbox {
  border-radius: 0.3125em;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  grid-area: main__textbox;
  height: 2.8125em;
  width: 100%;
}

.main__input {
  border-radius: 0.3125em;
  font-size: 0.8125em;
  font-weight: 600;
  text-indent: 0.6125rem;
  width: 100%;
}
.main__input::selection {
  background: #F87777;
  color: #FFF;
}

.main__btn--copy {
  background: inherit;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 0.625em;
}
.main__btn--copy svg {
  height: 1.125em;
  width: 1.125em;
}
.main__btn--copy svg:hover {
  height: 1.1875em;
  width: 1.1875em;
}

.main__content {
  border-radius: 0.3125em;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  grid-area: main__content;
}

.main__title {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.13);
  display: flex;
  height: 1.875rem;
  margin: 0 0.625rem;
}
.main__title span {
  font-size: 0.875em;
  font-weight: 800;
}

.main__options {
  display: grid;
  gap: 0.75em;
  grid-template-areas: "main__radio-group main__checkbox-group";
  grid-template-columns: 6.625em 10.9375em;
  grid-template-rows: 4.0625em;
  margin: 0.625em;
}

.main__radio-group {
  cursor: pointer;
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 0.3125em;
  grid-area: main__radio-group;
}

.main__radio {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3215rem;
}
.main__radio label {
  cursor: pointer;
  font-size: 0.6875em;
  font-weight: 500;
}
.main__radio label::selection {
  background: transparent;
}
.main__radio span {
  align-items: center;
  background: #779BF8;
  border-radius: 100%;
  cursor: default;
  display: flex;
  height: 0.625rem;
  justify-content: center;
  width: 0.625rem;
}
.main__radio span svg {
  height: 0.625rem;
  width: 0.625rem;
}

.main__input--radio {
  background: #E4E4E4;
  border-radius: 100%;
  height: 0.9375em;
  transition: 0.3s ease;
  width: 0.9375em;
}

.checked-radio {
  background: #F87777;
  border: 2px solid #FFE2E2;
}

.main__checkbox-group {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  gap: 0.3125em;
  grid-area: main__checkbox-group;
}

.main__checkbox {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 0.3215rem;
}
.main__checkbox label {
  cursor: pointer;
  font-size: 0.6875em;
  font-weight: 500;
}
.main__checkbox label::selection {
  background: transparent;
}
.main__checkbox > .checked-checkbox {
  background: #F87777 url("../svg/checked.svg") center 0.9375em;
  transition: 0.3 ease-in;
}

.main__input--checkbox {
  background: #E4E4E4;
  border-radius: 0.1875em;
  height: 0.9375em;
  transition: 0.3 ease-out;
  width: 0.9375em;
}

.main__range-option {
  display: flex;
  padding: 0 0.625em;
  margin-bottom: 0.9375em;
}

.main__range {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main__range span {
  cursor: default;
  font-size: 0.6875em;
  font-weight: 500;
  margin-bottom: 0.25rem;
}
.main__range span::selection {
  background: transparent;
}

.main__input--range {
  height: 0.625em;
  width: 100%;
}
.main__input--range::-webkit-slider-thumb {
  appearance: none;
  border: 0.3125em solid #ffff;
  background: #E1E1E1;
  border-radius: 100%;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.25);
  cursor: grab;
  height: 0.9375em;
  width: 0.9375em;
}

.main__button-option {
  display: flex;
  justify-content: flex-end;
}

.main__btn--generate {
  background: #BA4747;
  border-radius: 0.625rem;
  color: #FFF;
  font-size: 0.6875em;
  font-weight: 600;
  height: 1.25rem;
  margin: 0.625rem;
  width: 5rem;
}

@media (prefers-color-scheme: dark) {
  .main__textbox {
    background: #222944;
  }

  .main__input {
    background: inherit;
    color: #FFF;
  }
  .main__input::selection {
    background: #F8CC77;
    color: #FFF;
  }

  .main__btn--copy svg path {
    fill: #FFF;
  }

  .main__content {
    background: #222944;
  }

  .main__title {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
  }

  .checked-radio {
    background: #F8CC77;
    border: 2px solid #FFF5E2;
  }

  .main__checkbox > .checked-checkbox {
    background: #F8CC77 url("../svg/checked-dark.svg") center 0.9375em;
  }

  .main__btn--generate {
    background: #BB7D04;
  }
}

/*# sourceMappingURL=style.css.map */
