@use '../abstracts/functions' as *;

.main__semaphore {
  height: 0.375em;
  transition: .4s ease;
  width: 0%;
}

.main__semaphore--green {
  background: semaphore-style('bg-green');
  width: 100%;
}

.main__semaphore--yellow {
  background: semaphore-style('bg-yellow');
  width: 50%;
}

.main__semaphore--red {
  background: semaphore-style('bg-red');
  width: 25%;
}