.snackbar__content {
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.60);
  border-radius: 0.1875em;
  bottom: 1.35em;
  display: flex;
  height: 1.875em;
  justify-content: center;
  left: 32%;
  position: fixed;
  width: 7.5em;
  z-index: 1;
}

.snackbar__text {
  color: #FFF;
  font-size: 0.75em;
}